


.tags-content{
  flex-wrap: wrap;
  width: 100%;
}

.green-button {
  background-color: rgb(3, 203, 3);
  color: white !important;
}

input{
  width: 400px;
}

mat-card-header{
 padding-bottom: 20px;
}

.main-container{
  margin: auto;
  padding: auto;

  padding: 5px;
  button{
    margin-top: 10px;
  }
  .card {
    margin: auto;
    max-width: 560px;
  }

}


